/* Styles for the main container */

body {
  background-color: #121212;
}

.nav-bar {
  background-color: #333;
  color: white;
}

.input-and-button {
  display: flex;
  height: 20px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  border-radius: 10px;
  background-color: #121212;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for the input box */
.input-box {
  width: 70%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  margin-bottom: 20px;

  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  transition: width 0.1s ease-in-out;
}
.input-box:focus-within {
  width: 20%;
}

/* Styles for the button */
.button {
  background-color: #ffcc00;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ffa500;
}

/* Styles for the Pokémon information container */
.pokemon-info {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #a767f5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  outline: 1px solid black;
}

/* Styles for the Pokémon name */
.pokemon-name {
  font-family: "Arial", cursive;
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.pokemon-stat-title {
  margin: 0%;
}

/* Styles for the Pokémon image */
.pokemon-image {
  width: 200px;
  height: 200px;
  background-color: #121212;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: border-radius 0.2s ease-in-out;
}

.pokemon-image:hover {
  border-radius: 80%;
}

/* Styles for the Pokémon stats */
.pokemon-stats {
  font-size: 20px;
  text-align: center;
  color: white;
  padding: 5%;
  background-color: #121212;
  border-radius: 4px;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  outline: 1px solid white;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 1em;
}

/* Styles for the error message */
.error-message {
  color: red;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Styles for the title */
.title {
  font-family: "Arial", sans-serif; /* Replace with your desired font */
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #a767f5;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
